/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*_____________________________________________________________________Base_*/
body {
    color: #111;
	/*background-color: #F7F7F7;*/
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
h1,h2,h3,h4,h5,h6,strong {
   /*bringing boldness back to headers and the strong element*/
    font-weight: bold;
    line-height: 1;
    margin-bottom: .3em;
}
h1 {
    font-size: 33px;
	color: #000;
	/*margin-bottom: .25em;*/
    font-weight: normal;
}
h2 {
    font-size: 14px;
}
h3 {
   /*14px via YUI Fonts CSS foundation*/
   font-size:108%;  
}
h2,h3 {
   /* top & bottom margin based on font size */
   margin-bottom: .3;
}
hr {
   border: none;
   height:1px;
   margin:10px 0;
   background-color: #262626;
   color: #262626;
}
abbr,acronym {
   /*indicating to users that more info is available */
   border-bottom:1px dotted #000;
   cursor:help;
} 
em {
   /*bringing italics back to the em element*/
   font-style:italic;
}
blockquote,ul,ol,dl {
   /*giving blockquotes and lists room to breath*/
   /* margin:1em; */
}
ol,ul,dl {
   /*bringing lists on to the page with breathing room */
  /*  margin-left:2em; */
}
ol li {
   /*giving OL's LIs generated numbers*/
   list-style: decimal inside;  
}
ul li {
   /*giving UL's LIs generated disc markers*/
   list-style: disc outside;
}
dl dd {
   /*giving UL's LIs generated numbers*/
   margin-left:1em;
}
dt {
	font-weight: bold;
}
caption {
   /*coordinated marking to match cell's padding*/
   margin-bottom:.5em;
   /*centered so it doesn't blend in to other content*/
   text-align:center;
}
p,fieldset,table {
   /*so things don't run into each other*/
   margin-bottom:1em;
}
input[type=submit], button {
    cursor: pointer;
}
input[type=text], input[type=password], textarea{
  /*width:12.25em;
  *width:11.9em;*/
}
input, select {
   padding: 2px;
}
button, input[type=submit] {
	/*padding: 4px 10px;*/
}

/* only works if img is a block */
a img {
    text-decoration: none;
}

/* if you change, the link color in the caption 
   must also be changed */
a {
	color:#0181E3;
    color: #0069AA;
    color: #3366CC;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.45;
}

/*____________________________________________________________________Table_*/
table{
    border-collapse: separate;
    border-spacing: 0;
	border:1px solid #7F7F7F !important;
	background-color: #fff;	
	color: #000;
	font-family: arial;
}

thead {
	border-spacing: 0;
}

th {
	font-weight: normal;
	background: #D8D8DA url(http://yui.yahooapis.com/2.8.1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	text-align:center;
	border-right:1px solid #CBCBCB;
	border-bottom:1px solid #7F7F7F;
}

tr.odd {
	background-color:#EDF5FF;
	
}
th,td {
    padding:4px 10px;
    vertical-align: top; 
}

td {
	border-right: 1px solid #CBCBCB;
}

tr {
	align: top;
}

/*__________________________________________________________________Classes_*/
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
} 
/* ie 7 clear fix 
 * www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/  
 */
.clearfix {display:inline-block;}

/* Hides from IE-mac \*/
    * html .clearfix { height:1% }
    .clearfix {display:block;} /* ie7 clear fix */
/* End hide from IE-mac */

.has-disc li{
   list-style-type: disc;     
}
/*
.rounded {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
*/
.spaced li{
	margin-bottom: 1em;
}

.red {
	color: #cd0000;
}
.footnote {
	font-size: 10px;
	text-decoration: none;
}
h2 a {
	color:#0181E3;
	text-decoration: none;
}
h2 a:hover {
	background-color: #eef4ff;
	color: #222;
}

.dropcap {
	font-size: 3em;
	float: left;
	font-weight: bold;
	margin:0.13em 0.2em 0 0;  
    line-height:0.7;
    font-family: Georgia;
}

.error-message{
    color: red;
}
#flash {
    padding: 20px;
    text-align: center;
    border: 3px solid yellow;
}

/*___________________________________________________________Main Div Setup_*/

#doc2 {
	width: 970px;
    margin: 0 auto;
}
#hd {
    /*-moz-box-shadow: 0px 1px 3px #C2C2C2;
	background: -moz-linear-gradient(top,  #AEE8FF,  #89cff0);*/
    margin-bottom: 10px;
	background: -moz-linear-gradient(top,  #fff,  #DFEEFF);
    border: 1px solid #AFD5FF;
}
#hd .content {
    width: 970px;
    margin: 0 auto;
}
#bd {
    /*-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
	/*border: 1px solid #e6e6e6;*/
    clear: both;

}
#ft {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
    position: relative;
    border-top: 1px solid #f3f3f3;
}
#ft .content {
    width: 970px;
    margin: 0 auto;
}

/*___________________________________________________________________Header_*/

#hd a{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
#hd a:hover {
    border-color: #AFD5FF;
    text-decoration: none;
	background: -moz-linear-gradient(top,  #EFF6FF,  #fff);
}
#logo{
    float: left;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    margin-right: 20px;
    padding: 0 3px;
}
#logo-img {
    color: transparent;
    font-size: 0; /*yahoo used this one and the one above. */
	background: url(/static/logo.png) no-repeat center left;
    width: 121px;
    height: 30px;
    float: left;
    border-right: 1px solid #000;
    padding-right: 5px;
    margin-right: 5px;
}
#logo-desc {
    margin-top: 1px; 
    color: #000;
    font-size: 9px;
    float: left;
    padding-right: 3px;
    font-family: verdana, arial, sans-serif;
}
   
/*___________________________________________________________________Footer*/

#ft-nav {
    padding-top: 10px;
}

#ft-nav li{
   display: inline; 
   padding-right: 15px;
}

#ft #swag{
    position: relative;
    top: -10px;
}

/*__________________________________________________________Main Navigation_*/

#nav {
}
#nav ul{
    text-align: left;
}
#nav li {
    list-style-type: none;
}
#nav a{
	font-size: 13px;
    float: left;
    display: block;
    text-decoration: none;
    padding: 0 10px;
    height: 30px;
    line-height: 2;
}
#nav a#login {
    float: right;
}

/*__________________________________________________________________Contact_*/
#contact table{
    border: none !important;
}
#contact input[type=text], 
#contact select, 
#contact textarea {
   width:295px;
}
#contact textarea {
      height: 200px;
}
#contact td {
    border: none;
}


/*_____________________________________________________________Company View_*/

#company-view h1{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 7px;
}

#company-hd {
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    padding: 5px 5px 0 5px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border: 1px solid #0076A3;
    border-bottom: none;
}

#company-view hr{
    border-bottom: 1px solid #89cff0;
    clear: both;
}

/*_____________________________________________________________Company Nav*/

#company-nav {
}
#company-nav li {
    list-style-type: none;
    float: left;
    padding: 0 2px;
}
#company-nav a{
	font-size: 13px;
    float: left;
    display: block;
    text-decoration: none;
    padding: 3px 10px 6px 10px;
    color: #fff;
    border: 1px solid #009CD6;
    border-bottom: none;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
	background: -moz-linear-gradient(top,  #00adee, #009CD6);
    -moz-box-shadow: 0px -1px 0px #fff;
}
#company-nav a:hover{
    color: #000;
    border-color: #AFD5FF;
	background: -moz-linear-gradient(top,  #EFF6FF,  #fff);
}
#company-nav #current{
	background: -moz-linear-gradient(top,  #EFF6FF,  #fff);
    color: #000;
    border-color: #AFD5FF;
}

/*_____________________________________________________________________Tabs_*/

.ui-widget-header {
    border: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: inherit;class="roundify" 
}
.ui-widget-content {
    background: none;
    border: none;
    color: inherit;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	/*background: -moz-linear-gradient(top,  #fff,  #EEEEEE);*/
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em .5em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0 1em;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 .2em 1px .2em;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
/*_____________________________________________________________Company Form_*/

#company_form input[type="text"] {
    padding: .5em;
    width: 400px; 
}
#company_form textarea{
   width:600px; 
   height: 150px;
   font-family: monospace;
}

/*_______________________________________________________________Login Form_*/

#login_form form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px 0;
}
#login_form table{
    margin: 0 auto;
}
#login_form td {
    border: none;
}
#login_form input[type="text"],
#login_form input[type="password"] {
    font-size: 16px;
    width: 220px
}

/*_____________________________________________________________Comment Form_*/

#comment-form {
    font-size: 13px;
    padding-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
#comment-form textarea{
   width:500px; 
   height: 100px;
}
#comment-form div {
    margin-top: 10px;
}
.button {
    font-size: 14px;
    font-weight: bold;
    padding: .5em 1.2em .55em !important;
    cursor: pointer;
}
.shadow {
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    behavior: url(/PIE.htc);
}
.roundify{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/PIE.htc);
}   
.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    -pie-background: linear-gradient(#00adee,  #0078a5 top);
}
.blue:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    background: linear-gradient(#0095cc, #00678e top);
    -pie-background: linear-gradient(#0095cc, #00678e top);
}
.blue:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: linear-gradient(#0078a5,  #00adee top);
    -pie-background: linear-gradient(#0095cc, #00678e top);
}
.comment-time{
    font-size: 12px;
}
.comment-username{
}
/*_________________________________________________________Income Statement_*/
#income-statement th, #income-statement td {
    border: none;
}
#income-statement {
    font-size: 15px;
}
#income-statement .note {
    font-size: 13px;
    font-style: italic;
    display: block;
    margin-left: 10px;
    color: #666;
}
#income-statement p {
    margin: 0;
}
#operating-expenses p{
}
#income-statement .num {
    text-align: right;    
    width: 100px;
    vertical-align: top;
}
.income-cat {
    font-weight: bold;
    padding-bottom: 0;
}
.income-subtotal td {
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 0;
}
.income-subtotal .num {
    padding-top: 2px;
    border-top: 1px solid #000 !important;
}
