/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {
    font-weight: bold;
}
/*_____________________________________________________________________Base_*/
body {
    color: #111;
	/*background-color: #F7F7F7;*/
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
h1,h2,h3,h4,h5,h6,strong {
   /*bringing boldness back to headers and the strong element*/
    font-weight: bold;
    line-height: 1;
    margin-bottom: .3em;
}
h1 {
    font-size: 33px;
	color: #000;
	/*margin-bottom: .25em;*/
    font-weight: normal;
}
h2 {
    font-size: 14px;
}
h3 {
   /*14px via YUI Fonts CSS foundation*/
   font-size:108%;  
}
h2,h3 {
   /* top & bottom margin based on font size */
   margin-bottom: .3;
}
hr {
   border: none;
   height:1px;
   margin:10px 0;
   background-color: #262626;
   color: #262626;
}
abbr,acronym {
   /*indicating to users that more info is available */
   border-bottom:1px dotted #000;
   cursor:help;
} 
em {
   /*bringing italics back to the em element*/
   font-style:italic;
}
blockquote,ul,ol,dl {
   /*giving blockquotes and lists room to breath*/
   /* margin:1em; */
}
ol,ul,dl {
   /*bringing lists on to the page with breathing room */
  /*  margin-left:2em; */
}
ol li {
   /*giving OL's LIs generated numbers*/
   list-style: decimal inside;  
}
ul li {
   /*giving UL's LIs generated disc markers*/
   list-style: disc outside;
}
dl dd {
   /*giving UL's LIs generated numbers*/
   margin-left:1em;
}
dt {
	font-weight: bold;
}
caption {
   /*coordinated marking to match cell's padding*/
   margin-bottom:.5em;
   /*centered so it doesn't blend in to other content*/
   text-align:center;
}
p,fieldset,table {
   /*so things don't run into each other*/
   margin-bottom:1em;
}
input[type=submit], button {
    cursor: pointer;
}
input[type=text], input[type=password], textarea{
  /*width:12.25em;
  *width:11.9em;*/
}
input, select {
   padding: 2px;
}
button, input[type=submit] {
	/*padding: 4px 10px;*/
}

/* only works if img is a block */
a img {
    text-decoration: none;
}

/* if you change, the link color in the caption 
   must also be changed */
a {
	color:#0181E3;
    color: #0069AA;
    color: #3366CC;
    color: #0058A6;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.45;
}

/*____________________________________________________________________Table_*/
table{
    border-collapse: separate;
    border-spacing: 0;
}

thead {
	border-spacing: 0;
}

th {
	font-weight: normal;
	text-align:center;
}

tr.odd {
	background-color:#EDF5FF;
}
th,td {
    padding:4px 10px;
    vertical-align: top; 
}

td {
}

tr {
	align: top;
}

/*__________________________________________________________________Classes_*/
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
} 
/* ie 7 clear fix 
 * www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/  
 */
.clearfix {display:inline-block;}

/* Hides from IE-mac \*/
    * html .clearfix { height:1% }
    .clearfix {display:block;} /* ie7 clear fix */
/* End hide from IE-mac */

.has-disc li{
   list-style-type: disc;     
}
/*
.rounded {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
*/
.spaced li{
	margin-bottom: 1em;
}

.red {
	color: #cd0000;
}
.footnote {
	font-size: 10px;
	text-decoration: none;
}
h2 a {
	color:#0181E3;
	text-decoration: none;
}
h2 a:hover {
	background-color: #eef4ff;
	color: #222;
}

.dropcap {
	font-size: 3em;
	float: left;
	font-weight: bold;
	margin:0.13em 0.2em 0 0;  
    line-height:0.7;
    font-family: Georgia;
}

.error-message{
    color: red;
}
#flash {
    padding: 20px;
    text-align: center;
    border: 3px solid yellow;
}

/*___________________________________________________________Main Div Setup_*/

#doc2 {
	width: 990px;
    margin: 0 auto;
}
#hd {
    /*-moz-box-shadow: 0px 1px 3px #C2C2C2;
	background: -moz-linear-gradient(top,  #AEE8FF,  #89cff0);*/
    margin-bottom: 10px;
	/*background: -moz-linear-gradient(top,  #fff,  #DFEEFF);*/
	/*background-color: #DFEEFF;*/
    /* border: 1px solid #AFD5FF;*/
   /*background: -moz-linear-gradient(center top , #FFFFFF, #F7FCFF ) repeat scroll 0 0 transparent;*/
   border-bottom: 4px solid #B1DAF3;
   /*border-right: 1px solid #B1DAF3;
   border-left: 1px solid #B1DAF3;*/

    width: 990px;
    margin: 0 auto;
}
#hd .content {
    width: 990px;
    margin: 0 auto;
}
#bd {
    /*-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
	/*border: 1px solid #e6e6e6;*/
    clear: both;

}
#ft {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
    position: relative;
    border-top: 1px solid #f3f3f3;
}
#ft .content {
    width: 970px;
    margin: 0 auto;
}

/*___________________________________________________________________Header_*/

#hd a{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
#hd a:hover{
    border-color: #B1DAF3;
    text-decoration: none;
	/*background: -moz-linear-gradient(top,  #EFF6FF,  #fff);*/
    background-color: #B1DAF3;
    color: #fff;
}

#logo:hover {
    background-color: #B1DAF3;
    filter: dropshadow(color=#FE7300,offX=1,offY=1);
    text-shadow: #FE7300 1px 1px 0;
    color: #fff;
}

#logo{
    float: left; 
    margin-right: 10px;
    position: relative;
    margin-top: 2px;
    font-family: 'times new roman','times', serif;
    letter-spacing: 2px;
    font-size: 24px;
    padding-right: 3px;
    filter: dropshadow(color=#fff,offX=1,offY=1);
    text-shadow: #fff 1px 1px 0;
    line-height: .9;
    padding-left: 2px;
    color: #FE7300;
    display: block;
    float: left;
    padding-top: 2px;


}
#logo-svg{
    line-height: 0;
    position: absolute;
    left: 44px;
    top: 1px;
}

#logo-font b{
    font-weight: normal;
}
/*___________________________________________________________________Footer*/

#ft-nav {
    padding-top: 10px;
}

#ft-nav li{
   display: inline; 
   padding-right: 15px;
}

#swag {
    color: #666;
}
#ft #swag a{
    color: #666;
}

/*__________________________________________________________Main Navigation_*/

#nav {
}
#nav ul{
    text-align: left;
}
#nav li {
    list-style-type: none;
}
#nav a{
	font-size: 13px;
    float: left;
    display: block;
    text-decoration: none;
    padding: 0 10px;
    line-height: 2;
    color: #00A1FF;
}
#nav a#login {
    float: right;
}

/*__________________________________________________________________Contact_*/
#contact h1{
    color: #ff5100;
    font-size: 28px;
    font-weight: bold;
    font-family: 'trebuchet MS';
    padding: 20px 0;
}

#contact h1 span{
    font-size: 48px; 
}
#contact table{
    border: none !important;
}
#contact input[type=text], 
#contact select, 
#contact textarea {
   width:295px;
}
#contact textarea {
      height: 200px;
}
#contact td {
    border: none;
}


/*___________________________________________________________Company Section*/

#company {
}
#company h1{
    color: #000;
    font-family: LinuxLibertineORegular, arial, sans-serif;
    font-size: 42px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

#company #hd {
    padding: 5px 5px 0 0;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-bottom: none;
}

#company #ticker {
    text-align: center;
    margin-bottom: 15px;
}
/*_____________________________________________________________Company Nav*/

#company-nav {
	/*background: url(/static/navigation.png) no-repeat 0 0;*/
    clear: both;
}
#company-nav {
    text-align: left;
}
#company-nav li {
    list-style-type: none;
    display: inline;
}
#company-nav a{
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
    line-height: 14px;
    float: left;
    display: block;
    /*margin: 0 40px 4px 40px;*/
    text-decoration: none;
    padding: 5px 10px 5px;
    /*border: 1px solid #f7f7f7;*/
    border: 1px solid transparent;
    border-right: 2px solid #eee;
}
#company-nav a:hover {
	/*background: #fff url(/static/nav-hover.png) repeat-x top left; */
    /*border: 1px solid #dcdcdc;*/
    background-color: #EFF6FF;

}
#company-nav #current{
	background: -moz-linear-gradient(top,  #EFF6FF,  #fff);
    color: #000;
    border-color: #AFD5FF;
}

/*__________________________________________________________Company Homepage*/
#company .underline td{
   border-bottom: 1px solid #eee; 
}

.y-border {
    border-right: 1px solid #eee;
}

#four-corners h2{
    text-align: center;
    font-size: 20px;
    color: #FF5100;
    padding: 20px 0 10px;
}

#four-corners h3{
    text-align: center;
}
#four-corners td {
    padding: 0;
}

#four-corners .bd{
    padding: 8px;    
    padding-left: 16px;
}

#four-corners .corners{
    position: relative; 
    height: 100%;
}

#four-corners ul{
    margin-left: 10px; 
}

#corner-1-top{
    position: absolute;
    background-color: #FF5100;
    width: 50px;
    height: 5px;
}
#corner-1-left{
    position: absolute;
    background-color: #FF5100;
    width: 5px;
    height: 50px;
}
#corner-2-top{
    position: absolute;
    background-color: #FF5100;
    right: 0;
    width: 50px;
    height: 5px;
}
#corner-2-right{
    position: absolute;
    background-color: #FF5100;
    width: 5px;
    height: 50px;
    right: 0;
   
}


#four-corners h3 {
    padding: 10px 5px 0px;
}


#strengths {
    background: -moz-linear-gradient(top,  #BFDCE4,  #3E96BA); 
    border: 1px solid #57A7C2;
    color: #fff;
}

#company .col {
    width: 320px;
    float: left;
    margin: 4px 4px 11px;
    margin-top: 10px;
}

.tile {
    border: 3px solid #eee;
    margin-bottom: 10px;
    -moz-border-radius: 8px;
}

.tile .hd{
    padding: 10px 5px 0px;
    color: #666;
}

.tile .hd h2{
    padding-bottom: 5px; 
    border-bottom: 1px solid #eee;
}
.tile .bd{
    padding: 8px;    
}
.question {
    font-family: Georgia;
    font-size: 24px;
    padding-right: 3px;
    color: #30A509;
    font-weight: bold;
}

#company #sidebar {
    width: 250px;    
    margin-left: 15px;
    float: right;
}

#sidebar #sponsored-links ul li {
    color: #000000;
    margin-top: 10px;
    list-style: none;
}

/*____________________________________________________________Sponsored Link*/


#sidebar #sponsored-links {
    background-image: none;
    border: 3px solid #EEEEEE;

    -moz-box-shadow: none;
}

#sidebar #sponsored-links {
}
#sidebar #sponsored-links .hd {
    background-color: #EEEEEE;
    border: medium none;
    padding: 3px 10px 4px;
}

#sidebar #sponsored-links .bd {
    padding: 0 10px 10px;
}

#sidebar #sponsored-links h3 {
    color: #2F4251;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

#sidebar #sponsored-links ul li a {
    display: block;
    font-weight: bold;
}

#sidebar #sponsored-links ul li a.host {
    color: #1DA612;
    font-weight: normal;
}

#adlnk {
    font: 7.5pt verdana;
    margin-bottom: 10px;
    margin-top: 2px;
    text-align: center;
}

/*__________________________________________________Company Income Statement*/

.income-statement .total td{
    border-top: 1px solid #ccc;
    padding-right: 0;
}

/*_____________________________________________________________________Tabs_*/

.ui-widget-header {
    border: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: inherit;class="roundify" 
}
.ui-widget-content {
    background: none;
    border: none;
    color: inherit;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	/*background: -moz-linear-gradient(top,  #fff,  #EEEEEE);*/
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em .5em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0 1em;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 .2em 1px .2em;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
/*_____________________________________________________________Company Form_*/

#company_form input[type="text"] {
    padding: .5em;
    width: 400px; 
}
#company_form textarea{
   width:600px; 
   height: 150px;
   font-family: monospace;
}

/*_______________________________________________________________Login Form_*/

#login_form form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px 0;
}
#login_form table{
    margin: 0 auto;
}
#login_form td {
    border: none;
}
#login_form input[type="text"],
#login_form input[type="password"] {
    font-size: 16px;
    width: 220px
}

/*_____________________________________________________________Comment Form_*/

#comment-form {
    font-size: 13px;
    padding-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
#comment-form textarea{
   width:500px; 
   height: 100px;
}
#comment-form div {
    margin-top: 10px;
}
.button {
    font-size: 14px;
    font-weight: bold;
    padding: .5em 1.2em .55em !important;
    cursor: pointer;
}
.shadow {
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    behavior: url(/PIE.htc);
}
.roundify{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/PIE.htc);
}   
.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    -pie-background: linear-gradient(#00adee,  #0078a5 top);
}
.blue:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    background: linear-gradient(#0095cc, #00678e top);
    -pie-background: linear-gradient(#0095cc, #00678e top);
}
.blue:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: linear-gradient(#0078a5,  #00adee top);
    -pie-background: linear-gradient(#0095cc, #00678e top);
}
.comment-time{
    font-size: 12px;
}
.comment-username{
}
/*_________________________________________________________Income Statement_*/
#income-statement th, #income-statement td {
    border: none;
}
#income-statement {
    font-size: 15px;
}
#income-statement .note {
    font-size: 13px;
    font-style: italic;
    display: block;
    margin-left: 10px;
    color: #666;
}
#income-statement p {
    margin: 0;
}
#operating-expenses p{
}
#income-statement .num {
    text-align: right;    
    width: 100px;
    vertical-align: top;
}
.income-cat {
    font-weight: bold;
    padding-bottom: 0;
}
.income-subtotal td {
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 0;
}
.income-subtotal .num {
    padding-top: 2px;
    border-top: 1px solid #000 !important;
}
