/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {
    font-weight: bold;
}
/*_____________________________________________________________________Base_*/
html {
	/*background: -moz-linear-gradient(top,  #EFF6FF,  #fff);*/
    /*background-color: #F7FAFF;*/
    height: 100%;
}

body {
    color: #272727;
	/*background-color: #F7F7F7;*/
    font-size: 13px; /*/1.231 arial,helvetica,clean,sans-serif;*/
    line-height: 1.231;
    /*background-color: #E1E8EE;*/
    font-family: Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
    /*background: -moz-linear-gradient(top , #E2F0FD, white 30%) no-repeat;*/
    /*background: url(/static/lion-head.png) no-repeat 100% 50%;*/
}
h1,h2,h3,h4,h5,h6,strong {
   /*bringing boldness back to headers and the strong element*/
    font-weight: bold;
    margin-bottom: .3em;
    font-family: arial,helvetica,clean,sans-serif;
}
h1 {
    font-size: 33px;
	color: #666;
	/*margin-bottom: .25em;*/
    font-weight: bold;
}
h2 {
    font-size: 14px;
}
h3 {
   /*14px via YUI Fonts CSS foundation*/
   font-size:108%;  
}
h2,h3 {
   /* top & bottom margin based on font size */
   margin-bottom: .3;
}
hr {
   border: none;
   height:1px;
   background-color: DeepSkyblue;
   background-color: #DFECFF;
   clear: both;
   position: relative;
   top: -8px;
}
abbr,acronym {
   /*indicating to users that more info is available */
   border-bottom:1px dotted #000;
   cursor:help;
} 
em {
   /*bringing italics back to the em element*/
   font-style:italic;
}
blockquote,ul,ol,dl {
   /*giving blockquotes and lists room to breath*/
   /* margin:1em; */
}
ol,ul,dl {
   /*bringing lists on to the page with breathing room */
    margin-left:2em; 
}
ol li {
   /*giving OL's LIs generated numbers*/
   list-style: decimal inside;  
}
ul li {
   /*giving UL's LIs generated disc markers*/
   list-style: disc outside;
}
dl dd {
   /*giving UL's LIs generated numbers*/
   margin-left:1em;
}
dt {
	font-weight: bold;
}
caption {
   /*coordinated marking to match cell's padding*/
   margin-bottom:.5em;
   /*centered so it doesn't blend in to other content*/
   text-align:center;
}
p,fieldset,table {
   /*so things don't run into each other*/
   margin-bottom:1em;
}
input[type=submit], button {
    cursor: pointer;
}
input[type=text], input[type=password], textarea{
  /*width:12.25em;
  *width:11.9em;*/
}
input, select {
   padding: 2px;
}
button, input[type=submit] {
	/*padding: 4px 10px;*/
}

/* only works if img is a block */
a img {
    text-decoration: none;
}

/* if you change, the link color in the caption 
   must also be changed */
a {
    color: #0087D2;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.5;
}

/*____________________________________________________________________Table_*/
table{
    border-collapse: separate;
    border-spacing: 0;
}

thead {
	border-spacing: 0;
}

th {
	font-weight: normal;
	text-align:center;
}

tr.odd {
	background-color:#EDF5FF;
}
th,td {
    padding:4px 10px;
    vertical-align: top; 
}

td {
}

tr {
	align: top;
}

/*_____________________________________________________________________Form_*/
input, textarea {
    margin-bottom: 1em;
}
input {
    margin-bottom: 1em;
}
textarea{

}

input[type="text"] {
    padding: .5em;
    width: 400px; 
}
textarea{
   width: 840px; 
   font-family: monospace;
}
label{
    font-size: 18px;
    display: block;
}

/*__________________________________________________________________Classes_*/

.clear {
    clear: both;
    float: none;
    font-size: 0;
    height: 1px;
    line-height: 0;
    overflow: hidden;
    width: 1px;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
} 
/* ie 7 clear fix 
 * www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/  
 */
.clearfix {display:inline-block;}

/* Hides from IE-mac \*/
    * html .clearfix { height:1% }
    .clearfix {display:block;} /* ie7 clear fix */
/* End hide from IE-mac */

.has-disc li{
   list-style-type: disc;     
}
/*
.rounded {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
*/
.spaced li{
	margin-bottom: 1em;
}

.red {
	color: #cd0000;
}
.footnote {
	font-size: 10px;
	text-decoration: none;
}
h2 a {
	color:#0181E3;
	text-decoration: none;
}
h2 a:hover {
	background-color: #eef4ff;
	color: #222;
}

.dropcap {
	font-size: 3em;
	float: left;
	font-weight: bold;
	margin:0.13em 0.2em 0 0;  
    line-height:0.7;
    font-family: Georgia;
}

.error-message{
    color: red;
}
#flash {
    padding: 20px;
    text-align: center;
    border: 3px solid yellow;
    font-weight: bold;
    font-size: 18px;
}
/*resizable textarea*/
div.grippie {
    background:#EEEEEE url(/static/js/TextArea_Resizer_1.0.4/grippie.png) no-repeat scroll center 2px;
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}
.resizable-textarea textarea {
    display:block;
    margin-bottom:0pt;
    width:95%;
    height: 20%;
}

/*___________________________________________________________Main Div Setup_*/

#doc2 {
	width: 680px;
    margin: 0 auto;
    background-color: transparent;
    padding: 0 40px 0 40px;
    /*-moz-box-shadow: 0px 0px 4px #999;*/
    border-top: none;

    padding: 30px;
    margin-top: 50px;
    -moz-border-radius: 10px;
    margin-top: 0;
    padding-top: 0;
    margin-top: 00px;

}

#hd {
    /*-moz-box-shadow: 0px 1px 3px #C2C2C2;
	background: -moz-linear-gradient(top,  #AEE8FF,  #89cff0);*/
	/*background: -moz-linear-gradient(top,  #fff,  #DFEEFF);*/
	/*background-color: #DFEEFF;*/
    /* border: 1px solid #AFD5FF;*/
   /*background: -moz-linear-gradient(center top , #FFFFFF, #F7FCFF ) repeat scroll 0 0 transparent;*/
   /*border-bottom: 1px solid #00A1FF;*/
   /*border-right: 1px solid #B1DAF3;
   border-left: 1px solid #B1DAF3;*/
    padding-top: 3px;
    /*margin-bottom: 15px;*/

}
#bd {
    /*-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
	/*border: 1px solid #e6e6e6;*/
    /*
    padding: 10px;
    margin-top: -3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    */
}
#ft {
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
    border-top: 1px solid #f3f3f3;
    text-align: center;
}
/*___________________________________________________________________Header_*/ 

#hd {
}


/*
#hd a:hover{
    border-color: #B1DAF3;
    text-decoration: underline;
	background: -moz-linear-gradient(top,  #EFF6FF,  #fff);
    background-color: #B1DAF3;
}
*/
#logo:hover {
/*
    background-color: #B1DAF3;
    filter: dropshadow(color=#FE7300,offX=1,offY=1);
    text-shadow: #FE7300 1px 1px 0;
    color: #fff;
*/
}

#logo{
    display: block;
}

#landing-logo{
    text-align: center;
    margin-top: 15px;
}

#logo-svg{
    margin-top: .05em;
    margin-left: .02em;
    line-height: 0;
}

#logo b{
    font-weight: normal;
    float: left;
    display: block;
}
/*___________________________________________________________________Footer*/

#ft-nav {
    padding-top: 10px;
}

#ft-nav li{
   display: inline; 
   padding-right: 15px;
}

/*__________________________________________________________Main Navigation_*/

#nav {
    margin: 0;
    /*border-bottom: 1px solid DeepSkyBlue;*/
    float: left;
    /*margin: -30px 0 0 140px;*/
    margin-top: 15px;
    padding-left: 0;
    margin-left: 5px;
    width: 681px;
    padding-top: 5px;
    padding-bottom: 5px;
/*	background: -moz-linear-gradient(top, #fff, #EFF6FF);
    border-top: 1px solid #EFF6FF;
    border-right: 1px solid #DFECFF;
    border-left: 1px solid #EFF6FF;
    border-bottom: 1px solid DeepSkyBlue;*/
}
#nav li {
    list-style-type: none;
}

#nav a{
	font-size: 12px;
    text-decoration: none;
    margin-left: 25px;
    display: block;
    float: left;
    color: DeepSkyBlue;
    padding: 3px;
    padding-bottom: 2px;
    padding-top: 4px;
    /*border: 1px solid #999;*/
    -moz-border-radius: 4px;
    background-color: #b1daf3;
    font-weight: bold;
    color: #fff;
}
#nav .active a{
    /*font-weight: bold;*/
    /*border-bottom: 2px solid DeepSkyBlue;*/

}

#nav a#login {
    float: right;
}

/*_____________________________________________________________________Home_*/
#home {
    font-family: Georgia, serif;
    font-size: 20px;

/*    padding: 30px;
    margin-top: 50px;
    -moz-border-radius: 7px;
    background-color: #fff;
*/
}

#home #intro{
    font-weight: bold;
    text-align: center;
    font-family: Georgia, serif;
}

#home input {
    margin-bottom: 0;
}
#lion-head{
    background: url(/static/lion-head.png) no-repeat top left;
    height: 380px;
    width: 150px;
    
}

#home #logo-font{
    margin-top: -.4em;
    padding-top: 15px;
    padding-bottom: 10px;
}


#coming-soon{
    font-size: 64px;
    font-family: LinuxLibertineORegular,arial,sans-serif;
    margin-bottom: 0;
}   
/*__________________________________________________________________Contact_*/
#contact{
    font-size: 20px;
}

#contact h1{
    color: #00325E;
    font-size: 48px;
    font-weight: bold;
    font-family: 'trebuchet MS';
}

#contact h1 span{
    font-size: 70px; 
}
#contact table{
    border: none !important;
}
#contact input[type=text], 
#contact select, 
#contact textarea {
   width:295px;
}
#contact textarea {
      height: 200px;
}
#contact td {
    border: none;
}


/*___________________________________________________________Company Section*/

#company {
}

#company .bd {
    background-color: #E6F7Ff;
    padding: 5px;
    -moz-border-radius: 7px 7px 7px 7px;
}

#company h1{
    color: #000;
    font-size: 40px;
    font-family: Georgia;
    font-weight: normal;
}
/*
#company #hd {
    padding: 5px 5px 0 0;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-bottom: none;
}
*/
#company h1 span {
    font-size: 16px;
}

#company h3 {
    font-size: 13px;    
    font-weight: bold;
}

#company #left-column{
    float: left;
    width: 655px;
}

#company #right-column{
    float: left;
    width: 295px;
}

#company .box{
    -moz-border-radius: 7px 7px 7px 7px;
    /*-moz-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);*/
    background-color: #FFFFFF;

    margin: 10px;
    padding: 10px;
    margin-top: 0;
}
#company .box .bd {
    background: -moz-linear-gradient(center top , #eeeeee, white);
    min-height: 150px;
    padding: 2px 10px;
     -moz-border-radius: 5px 5px 5px 5px;

}

#company #right-column h3{
    color: #7A7A78;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 6px;
}

#company #right-column h3#overview {
    color: #33332F; 
}

#company #main-content{
    -moz-border-radius: 7px 7px 7px 7px;
    /*-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 1px 2px #888;*/
    background-color: #FFFFFF;
    clear: both;
    padding: 10px;   
}

#company #main-content img{
    padding-right: 1em;
    padding-bottom: 1em;
    float: left;
}

#company .td_left{
    font-weight: bold;
}

#company #questions {
    font-size: 18px;
    font-family: Georgia;
    color: #666;
    
}

#company #questions li{
    list-style: none;
    margin-bottom: 1em;
}


#company .col-1{
    /*width: 640px;
    float: left;
    */
}
/*20px gutter*/
#company .col-2{
    width: 330px;
    float: right;
}

.full-strategy{
    margin-top: -1em;
    display: block;
    margin-bottom: 1em;
}


#company .hd {
    margin-bottom: 10px;
}



#company .section {
    margin-bottom: 25px;
}

#company .section h2 {
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.left_quote{
    float: left;
}
.right_quote{
    float: right;
}


.bqstart {
     float: left;
     height: 45px;
     margin-top: -20px;
     padding-top: 45px;
     margin-bottom: -50px;
     font-size: 700%;
     color: #FF0000;
     font-family: georgia, serif;
}

 .bqend {
     float: right;
     height: 25px;
     margin-top: 0px;
     padding-top: 45px;
     font-size: 700%;
     color: #FF0000;

     font-family: georgia, serif;
 }

#what-they-do {
    width: 300px;
    float: left;
}
#financial-overview{
    width: 400px;
    float: right;
}
#financial-overview span{
   font-size: 9px; 
}
#growth-rates{
    float: right;
    width: 200px;
}

#growth-rates .data td{
    padding-top: 0;
    padding-bottom: 0;
}
#growth-rates .indent{
   padding-left: 25px; 
}
#growth-summary th, 
#growth-summary .th {
    font-weight: bold;
}


/*_____________________________________________________________Company Nav*/

#company-nav {
	/*background: url(/static/navigation.png) no-repeat 0 0;*/
    clear: both;
}
#company-nav {
    text-align: center;
}
#company-nav li {
    list-style-type: none;
    display: inline;
}
#company-nav a{
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
    line-height: 14px;
    /*margin: 0 40px 4px 40px;*/
    text-decoration: none;
    padding: 5px 10px 5px;
    /*border: 1px solid #f7f7f7;*/
    border: 1px solid transparent;
    border-right: 2px solid #eee;
}
#company-nav a:hover {
	/*background: #fff url(/static/nav-hover.png) repeat-x top left; */
    /*border: 1px solid #dcdcdc;*/
    background-color: #EFF6FF;

}
#company-nav #current{
	background: -moz-linear-gradient(top,  #EFF6FF,  #fff);
    color: #000;
    border-color: #AFD5FF;
}

/*__________________________________________________________Company Homepage*/



.y-border {
    border-right: 1px solid #eee;
}

#four-corners h2{
    text-align: center;
    font-size: 20px;
    color: #FF5100;
    padding: 20px 0 10px;
}

#four-corners h3{
    text-align: center;
}
#four-corners td {
    padding: 0;
}

#four-corners .bd{
    padding: 8px;    
    padding-left: 16px;
}

#four-corners .corners{
    position: relative; 
    height: 100%;
}

#four-corners ul{
    margin-left: 10px; 
}

#corner-1-top{
    position: absolute;
    background-color: #FF5100;
    width: 50px;
    height: 5px;
}
#corner-1-left{
    position: absolute;
    background-color: #FF5100;
    width: 5px;
    height: 50px;
}
#corner-2-top{
    position: absolute;
    background-color: #FF5100;
    right: 0;
    width: 50px;
    height: 5px;
}
#corner-2-right{
    position: absolute;
    background-color: #FF5100;
    width: 5px;
    height: 50px;
    right: 0;
   
}


#four-corners h3 {
    padding: 10px 5px 0px;
}


#strengths {
    background: -moz-linear-gradient(top,  #BFDCE4,  #3E96BA); 
    border: 1px solid #57A7C2;
    color: #fff;
}

#company .col {
    width: 320px;
    float: left;
    margin: 4px 4px 11px;
    margin-top: 10px;
}

.tile {
    border: 3px solid #eee;
    margin-bottom: 10px;
    -moz-border-radius: 8px;
}

.tile .hd{
    padding: 10px 5px 0px;
    color: #666;
}

.tile .hd h2{
    padding-bottom: 5px; 
    border-bottom: 1px solid #eee;
}
.tile .bd{
    padding: 8px;    
}
.question {
    font-family: Georgia;
    font-size: 24px;
    padding-right: 3px;
    color: #30A509;
    font-weight: bold;
}

#company #sidebar {
    width: 250px;    
    margin-left: 15px;
    float: right;
}

#sidebar #sponsored-links ul li {
    color: #000000;
    margin-top: 10px;
    list-style: none;
}

/*____________________________________________________________Sponsored Link*/


#sidebar #sponsored-links {
    background-image: none;
    border: 3px solid #EEEEEE;

    -moz-box-shadow: none;
}

#sidebar #sponsored-links {
}
#sidebar #sponsored-links .hd {
    background-color: #EEEEEE;
    border: medium none;
    padding: 3px 10px 4px;
}

#sidebar #sponsored-links .bd {
    padding: 0 10px 10px;
}

#sidebar #sponsored-links h3 {
    color: #2F4251;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

#sidebar #sponsored-links ul li a {
    display: block;
    font-weight: bold;
}

#sidebar #sponsored-links ul li a.host {
    color: #1DA612;
    font-weight: normal;
}

#adlnk {
    font: 7.5pt verdana;
    margin-bottom: 10px;
    margin-top: 2px;
    text-align: center;
}




/*__________________________________________________Company Income Statement*/

.income-statement .total td{
    border-top: 1px solid #ccc;
    padding-right: 0;
}

/*_____________________________________________________________________Tabs_*/

.ui-widget-header {
    border: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: inherit;class="roundify" 
}
.ui-widget-content {
    background: none;
    border: none;
    color: inherit;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	/*background: -moz-linear-gradient(top,  #fff,  #EEEEEE);*/
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em .5em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0 1em;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 .2em 1px .2em;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
/*_____________________________________________________________Company Form_*/

#company_form input, #company_form textarea {
   display: block; 
}
#company_form input {
    margin-bottom: 1em;
}
#company_form .resizable-textarea{
    margin-bottom: 1em;
}

#company_form input[type="text"] {
    padding: .5em;
    width: 400px; 
}
#company_form textarea{
   width: 840px; 
   font-family: monospace;
}
#company_form label{
    font-size: 18px;
    display: block;
}

#company_form textarea#overview{
    height: 50px;
}

#company_form textarea#growth_strategy{
    height: 150px;
}

#company_form textarea#growth_strategy_summary{
    height: 50px;
}

#company_form textarea#competitive_advantage{
    height: 300px;
}

#company_form textarea#competitive_advantage_summary{
    height: 75px;
}
/*_______________________________________________________________Login Form_*/

#login_form form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px 0;
}
#login_form table{
    margin: 0 auto;
}
#login_form td {
    border: none;
}
#login_form input[type="text"],
#login_form input[type="password"] {
    font-size: 16px;
    width: 220px
}

/*_____________________________________________________________Comment Form_*/

#comment-form {
    font-size: 13px;
    padding-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
#comment-form textarea{
   width:500px; 
   height: 100px;
}
#comment-form div {
    margin-top: 10px;
}
.button {
    font-size: 14px;
    font-weight: bold;
    padding: .5em 1.2em .55em !important;
    cursor: pointer;
}
.shadow {
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
    behavior: url(/PIE.htc);
}
.roundify{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/PIE.htc);
}   
/*.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    -pie-background: linear-gradient(#00adee,  #0078a5 top);
}
*/
.blue {
	color: #fff;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #276AA5,  #00325E);
    -pie-background: linear-gradient(#00adee,  #0078a5 top);
}


.blue:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    background: linear-gradient(#0095cc, #00678e top);
    -pie-background: linear-gradient(#0095cc, #00678e top);
}
.blue:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: linear-gradient(#0078a5,  #00adee top);
    -pie-background: linear-gradient(#0095cc, #00678e top);
}
.comment-time{
    font-size: 12px;
}
.comment-username{
}
/*_________________________________________________________Income Statement_*/
#income-statement th, #income-statement td {
    border: none;
}
#income-statement {
    font-size: 15px;
}
#income-statement .note {
    font-size: 13px;
    font-style: italic;
    display: block;
    margin-left: 10px;
    color: #666;
}
#income-statement p {
    margin: 0;
}
#operating-expenses p{
}
#income-statement .num {
    text-align: right;    
    width: 100px;
    vertical-align: top;
}
.income-cat {
    font-weight: bold;
    padding-bottom: 0;
}
.income-subtotal td {
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 0;
}
.income-subtotal .num {
    padding-top: 2px;
    border-top: 1px solid #000 !important;
}



/*_______________________________________________________________ Questions_*/

#questions-list li{
    margin-bottom: 1em; 
}
